

.App, html {
  background-color:#d9885d;
  
}

ul{
  list-style-type: none;
}

.top-nav{
  background-color:#ad7037;
}

.card{
  background-color: #f5ce6c;
  margin: 0 auto;
  float: none;
  margin-top: 30px;
}

.card-title{

}


.App{
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1.Logo{
  color: #282c34;
  font-family: 'Crimson Text', serif;

}

@media screen and (min-width: 1205px){
  h1.Logo{
    font-size: 70px;
  }

  li{
    display: inline-block;
    margin-right: 10%;
    font-size: 20px;
  }

  a{
    color: #282c34;
    font-family: 'Crimson Text', serif;
  }

  .card{
    width: 30%;
  }

  .card-stats{
    text-align: center;
  }

}

@media screen and (max-width: 1200px){
  h1.Logo{
    font-size: 70px;
  }

  .card{
    width: 50%;
  }
}

@media screen and (max-width: 450px){
  h1.Logo{
    font-size: 65px;
  }

  .card{
    width: 90%;
  }

  .card-stats{

  }

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
